div.dos{
    font-size: 2em;
}

div.cuatro{
    font-size: 4em;
}

div.otravez2em{
    font-size: .5em;
}

p.style{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #11849D;
}
